# Archivos de configuración y credenciales
.env
secrets.toml

# Dependencias y entornos virtuales
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de logs y caché
logs/
*.log
streamlit_cache/

# Archivos de datos generados
*.sqlite3
*.db
*.csv
*.json
*.xml

# Archivos de compilación y empaquetado
dist/
build/
*.egg-info/
